:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --logo-link-color: rgba(33, 150, 243, 1);
  --logo-color: rgba(0, 0, 0, 1);
  --primary-background-color: rgba(255, 255, 255, 1);
  --secondary-text: rgba(117, 117, 117, 1);
  --third-text: rgba(255, 255, 255, 0.6);
  --hero-color: rgba(47, 48, 58, 1);
}

body {
  font-family: 'Roboto', sans-serif;
}
page {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}
/* сховав точки */
ul {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* LOGOGOGOGOGOGOG */
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--logo-color);
  text-decoration: none;
}
.logoweb {
  color: var(--logo-link-color);
}
.logo:hover,
.logo:focus {
  color: var(--logo-link-color);
}
/* NAVIGATION */
/* Portfolio */

.site-nav .link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--logo-link-color);
}
/* tel+adress */
.auth-nav .link-nav {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text);
  text-decoration: none;
}
.auth-nav .link-nav:hover,
.auth-nav .link-nav:focus {
  color: var(--logo-link-color);
}
.button-portfolio {
  font-family: 'Roboto';
  font-size: Medium;
  font-size: 16px;
  line-height: 1.6;
  align: Center;
  vertical-align: Top;
  letter-spacing: 3%;
  color: var(--primary-text-color);
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--logo-link-color);
  color: var(--primary-background-color);
}
/* .foto {
} */
.filter {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.filter-foto {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--secondary-text);
}
/* footer */
.logofot {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
  text-decoration: none;
}
.logo-fotweb {
  color: var(--logo-link-color);
}
.logofot:hover,
.logofot:focus {
  color: var(--logo-link-color);
}
/* adress */
.footerbg {
  background-color: var(--hero-color);
}
.footer-nav .footer-link:hover,
.footer-nav .footer-link:focus {
  color: var(--logo-link-color);
}
.footer-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--third-text);
}
.navigation {
  color: var(--primary-background-color);
}

/* inex.html */
.hero {
  background-color: var(--hero-color);
}
.hero-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 13.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-background-color);
}
.button-hero {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background-color: var(--logo-link-color);
}
